@font-face {
  font-family: "appetite";
  src:
    url("../fonts/appetite.woff2") format("woff2"),
    url("../fonts/appetite.woff") format("woff");
  /* font-weight: 400; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "futuramediumc";
  src:
    url("../fonts/futuramediumc.woff2") format("woff2"),
    url("../fonts/futuramediumc.woff") format("woff");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src:
    url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  /* font-weight: 400; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr-Heavy";
  src:
    url("../fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Heavy.woff") format("woff");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src:
    url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src:
    url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src:
    url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src:
    url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src:
    url("../fonts/HelveticaNeue.woff2") format("woff2"),
    url("../fonts/HelveticaNeue.woff") format("woff");
  /* font-weight: 400; */
  font-style: normal;
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  /* font-weight: 400; */
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 24px;
}

button,
select {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__menu,
.header__socials,
.nav__list,
.nav__sub-item,
.services__list,
.services__overlay-container,
.advantages__list,
.process__list,
.customers__list,
.footer__socials,
.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  /* background-color: #454442; */
}

.header__top {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 6px 15px 11px;
  max-width: 1032px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.header__logo {
  margin-right: 2.5%; /* 25px */
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  width: 317px;
  justify-content: space-between;
  margin-right: 3.9%; /* 39px */
}

.header__menu-item {
  position: relative;
  padding: 5px 0 0 7px;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__menu-item:hover::before,
.header__menu-item--active::before{
  position: absolute;
  content: '';
  width: 13px;
  height: 12px;
  top: 0;
  left: 0;
  background-color: #185690;
}

.header__menu-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: "HelveticaNeueCyr-Bold", "Arial", sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  z-index: 1;
}

.header__menu-link:hover {
  /* font-family: "HelveticaNeueCyr-Heavy", "Arial", sans-serif; */
  border-bottom: 1px solid white;
}

.header__menu-item--active .header__menu-link {
  font-family: "HelveticaNeueCyr-Heavy", "Arial", sans-serif;
  border-bottom: 1px solid white;
}

.header__socials {
  display: flex;
  flex-wrap: wrap;
  width: 94px;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 5%; /* 51px */
  margin-top: 6px;
}

.header__button {
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  text-transform: uppercase;
  padding: 9px 16px;
  background-color: #185690;
  color: white;
  font-size: 18px;
  border: none;
  margin-right: 4%; /* 40px */
  margin-top: 5px;
}

.header__phone {
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  font-size: 14px;
  color: white;
  text-decoration: none;

}

.header__phone span {
  display: block;
  font-size: 24px;
}

.header__bottom {
  background-color: #e8f0f7;
  padding: 7px 0 0 0;
}

.nav__list {
  display: flex;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
  padding: 0 15px;
  max-width: 1032px;
}

.nav__item {
  padding: 0 0 7px;
}

.nav__item--adv {
  position: relative;
}

.nav__sub-item {
  width: 235px;
  box-sizing: border-box;
  padding: 21px 23px;
  background-color: #e8f0f7;
  position: absolute;
  top: 35px;
  left: -22px;
}

.nav__sub-item li {
  position: relative;
}

.nav__sub-item a {
  display: block;
  color: #565656;
  font-family: "HelveticaNeueCyr-Roman", "Arial", sans-serif;
  font-size: 16px;
  line-height: 34px;
  text-decoration: none;
}

.nav__sub-item a:hover {
  text-decoration: underline;
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
}

.nav__sub-item li:hover::before {
  position: absolute;
  content: '';
  width: 13px;
  height: 12px;
  top: 10px;
  left: -28px;
  background-color: #185690;
}

.nav__link {
  display: block;
  padding: 0 7px;
  border-right: 1px solid #185690;
  color: #565656;
  font-family: "HelveticaNeueCyr-Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none; 
}

.nav__item:first-of-type .nav__link {
  padding: 0 7px 0 0;
}

.nav__item:last-of-type .nav__link {
  border-right:none;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__sub-item {
  display: none;
}

.nav__item--adv:hover .nav__sub-item {
  display: block;
  z-index: 300;
}

/* main-screen */

.main-screen {
  position: relative;
  background-color: #454442;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 2000px 1199px;
  min-height: 618px;
  z-index: -1;
}

.main-screen__wrapper {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  width: 615px;
}

.main-screen__wrapper h1 {
  margin: 0;
  color: white;
  text-align: center;
  margin-bottom: 43px;
}

.main-screen__wrapper p {
  font-family: "HelveticaNeueCyr-Bold", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: white;
  font-size: 30px;
  line-height: 28px;
}

.main-screen__logo {
  margin: 0;
}

.main-screen__title-main {
  display: block;
  font-family: "HelveticaNeue", "Arial", sans-serif;
  font-size: 54px;
  line-height: 62px;
  font-weight: 400;
  margin-top: -7px;
}

/* about-us */

.about-us {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 31px 15px 23px;
  max-width: 1032px;
  display: flex;
}

.about-us__main {
  width: 316px;
  margin-right: 16px;
}

.about-us__main h2 {
  color: #565656;
  font-family: "HelveticaNeueCyr-Roman", "Arial", sans-serif;
  font-size: 28px;
  line-height: 30px;
  font-weight: 100;
  margin: 0;
}

.about-us__title {
  color: #185690;
  display: block;
  font-family: "Appetite", "Arial", sans-serif;
  font-size: 58px;
  line-height: 54px;
  text-transform: uppercase;
}

.about-us__main p {
  color: #565656;
  font-family: "HelveticaNeueCyr-Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.about-us__description {
  padding-top: 23px;
  width: 298px;
  color: #565656;
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-right: 41px;
}

.about-us__description p {
  margin: 0;
}

.about-us__blockquote {
  width: 338px;
  box-sizing: border-box;
  padding: 18px 25px 22px 23px;
  background-color: #185690;
  color: white;
  font-family: "HelveticaNeueCyr-Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  margin-right: -5px;
  margin-top: -87px;
  align-self: flex-start;
}

.about-us__blockquote span {
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  font-size: 30px;
  line-height: 42px;
}

.about-us__blockquote p {
  margin: 0;
}

/* search */

.search {
  background-color: #e5e5e5;
}

.search__input {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 32px 15px 51px;
  max-width: 1032px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__input label {
  color: #565656;
  width: 346px;
  font-family: "HelveticaNeueCyr-Roman", "Arial", sans-serif;
  font-size: 24px;
  line-height: 27px;
}

.search__input span {
  font-family: "HelveticaNeueCyr-Bold", "Arial", sans-serif;
}

.search__input input {
  width: 497px;
  margin-top: 9px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #565656;
}

.search__button {
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  background-color: #565656;
  color: white;
  padding: 11px 26px;
  border: none;
}

.services {
  margin: -56px auto 0;
  box-sizing: border-box;
  padding: 31px 15px 34px;
  max-width: 1200px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  position: relative;
  display: flex;
  width: 375px;
  min-height: 262px;
  background-color: #454442;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 375px 287px;
  margin-bottom: 25px;
  padding: 100px 73px 0;
  box-sizing: border-box;
}

.services__list h3 {
  position: relative;
  /* margin: auto; */
  text-align: center;
  color: white;
  font-family: "HelveticaNeueCyr-Bold", "Arial", sans-serif;
  font-size: 26px;
  line-height: 27px;
  text-shadow: 0 17px 28px rgba(0,0,0,0.9);
  ;
}

.services__item h3::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.services__item--ads h3::before {
  background-image: url("../img/ads.svg");
  background-size: 50px 50px;
  top: -61px;
  width: 50px;
  height: 50px;
}

.services__item--facade h3::before {
  background-image: url("../img/facade1.svg");
  background-size: 59px 59px;
  top: -69px;
  width: 59px;
  height: 59px;
}

.services__item--print h3::before {
  background-image: url("../img/print.svg");
  background-size: 61px 51px;
  top: -64px;
  width: 61px;
  height: 51px;
}

.services__item--polygraphy h3::before {
  background-image: url("../img/polygraphy.png");
  background-size: 49px 59px;
  top: -69px;
  width: 49px;
  height: 59px;
}

.services__item--boards h3::before {
  background-image: url("../img/boards.svg");
  background-size: 57px 50px;
  top: -57px;
  width: 57px;
  height: 50px;
}

.services__item--pointers h3::before {
  background-image: url("../img/pointers.svg");
  background-size: 39px 61px;
  top: -67px;
  width: 39px;
  height: 61px;
}

.services__item--souvenirs h3::before {
  background-image: url("../img/souvenirs.svg");
  background-size: 66px 50px;
  top: -64px;
  width: 66px;
  height: 50px;
}

.services__item--stamps h3::before {
  background-image: url("../img/stamps.svg");
  background-size: 46px 47px;
  top: -63px;
  width: 46px;
  height: 47px;
}

.services__item--pos h3::before {
  background-image: url("../img/pos.svg");
  background-size: 50px 77px;
  top: -91px;
  width: 50px;
  height: 77px;
}

.services__item--ads {
  padding-top: 119px;
  padding-left: 87px;
  background-image: url("../img/ads.jpg");
}

.services__item--facade {
  padding-top: 119px;
  padding-left: 65px;
  background-image: url("../img/facade.jpg");
}

.services__item--print {
  padding-top: 119px;
  padding-left: 65px;
  background-image: url("../img/print.jpg");
}
.services__item--polygraphy {
  background-image: url("../img/polygraphy.jpg");
}

.services__item--boards {
  padding-left: 82px;
  background-image: url("../img/boards.jpg");
}

.services__item--pointers {
  padding-left: 74px;
  background-image: url("../img/pointers.jpg");
}
.services__item--souvenirs {
  padding-top: 108px;
  background-image: url("../img/souvenirs.jpg");
}

.services__item--stamps {
  padding-top: 103px;
  padding-left: 87px;
  padding-right: 0;
  background-image: url("../img/stamps.jpg");
}

.services__item--pos {
  padding-top: 103px;
  padding-left: 160px;
  background-image: url("../img/pos.jpg");
}

.services__item--print .services__overlay {
  display: none;
  padding: 15px 18px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8f0f7;
  background-image: url("../img/tail.png");
  background-position: right -20px bottom 0;
  background-repeat: no-repeat;
}

.services__overlay-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 157px;
  justify-content: flex-end;
}

.services__overlay h4 {
  margin: 0;
  width: 290px;
  box-sizing: border-box;
  position: relative;
  color: #185690;
  font-family: "HelveticaNeueCyr-Bold", "Arial", sans-serif;
  font-size: 22px;
  line-height: 22px;
  padding-left: 68px;
  margin-bottom: 20px;
}

.services__overlay h4::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 52px;
  height: 44px;
  background-image: url("../img/print-blue.svg");
  background-repeat: no-repeat;
}

.services__item--print:hover .services__overlay,
.services__item--print:focus .services__overlay {
  display: block;
}

.services__overlay-container a {
  position: relative;
  width: 153px;
  display: block;
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #565656;
  padding-left: 4px;
  margin-bottom: 5px;
  margin-right: 43px;
}

.services__overlay-container a:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
  width: 4px;
  height: 4px;
  background-color: #185690;
}

/* advantages */

.advantages {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 31px 15px 31px;
  max-width: 1045px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.advantages::after {
  content: "";
  position: absolute;
  top: -19px;
  left: -450px;
  width: 604px;
  height: 787px;
  background-image: url("../img/m.jpg");
  background-repeat: no-repeat;
  z-index: -1;
}

.advantages__container {
  position: relative;
  padding: 31px 28px 81px 33px;
  box-sizing: border-box;
  color: white;
  width: 380px;
  background-color: #185690;
}

.advantages__container::after {
  position: absolute;
  content: "";
  right: -20px;
  top: -37px;
  width: 186px;
  height: 188px;
  background-image: url("../img/tail-big.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

.advantages__container h2 {
  margin: 0;
  width: 184px;
  font-family: "HelveticaNeueCyr-Roman", "Arial", sans-serif;
  font-size: 34px;
  line-height: 56px;
  font-weight: 300;
  margin-bottom: 23px;
}

.advantages__container span {
  font-family: "Appetite", "Arial", sans-serif;
  font-size: 58px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.advantages__container p {
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 15px;
}

.advantages__list {
  width: 600px;
}

.advantages__item {
  position: relative;
  padding-left: 85px;
  color: #565656;
  margin-bottom: 19px;
}

.advantages__item::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  background-repeat: no-repeat;
}

.advantages__item--quality::before {
  background-image: url("../img/1.png");
  width: 58px;
  height: 57px;
  left: 2px;
}

.advantages__item--guarantee::before {
  background-image: url("../img/2.png");
  width: 46px;
  height: 48px;
  left: 8px;
}

.advantages__item--production::before {
  background-image: url("../img/3.png");
  width: 50px;
  height: 48px;
}

.advantages__item--autopark::before {
  background-image: url("../img/4.png");
  width: 55px;
  height: 33px;
  left: 5px;
}

.advantages__item--single-window::before {
  background-image: url("../img/5.png");
  width: 46px;
  height: 45px;
  top: 2px;
  left: 9px;
}

.advantages__item--available::before {
  background-image: url("../img/6.png");
  width: 65px;
  height: 51px;
  top: -2px;
  left: -13px;
}

.advantages__item h3 {
  margin: 0 0 8px;
  font-family: "HelveticaNeueCyr-Bold", "Arial", sans-serif;
  font-size: 22px;
  line-height: 18px;
  text-transform: uppercase;
}

.advantages__item p {
  margin: 0;
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
}

/* process */

.process__background {
  position: absolute;
  right: 0;
  width: 78.5vw;
  height: 445px;
  background-color: #eeeeee;
  z-index: -2;
}

.process__wrapper {
  box-sizing: border-box;
  padding: 7px 15px 24px;
  max-width: 1300px;
  margin: 0 auto;
}

.process__wrapper h2 {
  padding-left: 309px;
  margin: 0;
  font-family: "HelveticaNeueCyr-Roman", "Arial", sans-serif;
  font-size: 34px;
  line-height: 56px;
  color: #565656;
  margin-bottom: 34px;
  font-weight: 100;
}

.process__wrapper span {
  display: block;
  font-family: "Appetite", "Arial", sans-serif;
  font-size: 58px;
  line-height: 46px;
  color: #185690;
  text-transform: uppercase;
  font-weight: 300;
}

.process__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 73px;
}

.process__item {
  padding-top: 89px;
  position: relative;
  color: #565656;
  width: 167px;
  margin-right: 32px;
}

.process__item::before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "HelveticaNeueCyr-MEdium", "Arial", sans-serif;
  font-size: 80px;
  line-height: 82px;
  color: #185690;
}

.process__item:nth-child(2) {
  width: 178px;
  margin-right: 23px; 
}

.process__item:nth-child(3) {
  width: 177px;
  margin-right: 20px; 
}

.process__item:nth-child(3) h3 {
  line-height: 18px;
}

.process__item:nth-child(3) p {
  line-height: 20px;
}

.process__item:nth-child(4) {
  margin-right: 33px; 
}

.process__item:nth-child(5) {
  width: 179px;
  margin-right: 20px; 
}

.process__item:first-child::before {
  content: "01";
}

.process__item:nth-child(2)::before {
  content: "02";
}

.process__item:nth-child(3)::before {
  content: "03";
}

.process__item:nth-child(4)::before {
  content: "04";
}

.process__item:nth-child(5)::before {
  content: "05";
}

.process__item:nth-child(6)::before {
  content: "06";
}

.process__item h3 {
  font-family: "HelveticaNeueCyr-Bold", "Arial", sans-serif;
  font-size: 20px;
  line-height: 22px;
  margin: 0 0 5px;
}

.process__item p {
  margin: 0;
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
}

/* customers */

.customers {
  padding: 26px 21px 48px;
}

.customers h2 {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 31px 15px 33px 9px;
  max-width: 1032px;
  text-align: left;
  font-family: "HelveticaNeueCyr-Roman", "Arial", sans-serif;
  font-size: 34px;
  line-height: 56px;
  color: #565656;
  font-weight: 300;
}

.customers span {
  display: block;
  text-transform: uppercase;
  font-family: "Appetite", "Arial", sans-serif;
  font-size: 56px;
  line-height: 41px;
  color: #185690;
}

.customers__list {
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.customers__wrapper {
  position: relative;
}

.customers__button {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  width: 10px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../img/blue-arrow.png");
  background-repeat: no-repeat;
  background-size: 10px 17px;
}

.customers__button--prev {
  left: 0;
  transform: translateY(-50%) rotate(-180deg);
}

.customers__button--next {
  right: 0;
  transform: translateY(-50%);
}

/* map */

.map {
  height: 353px;
  width: 100%;
}

/* footer */

.footer {
  margin-top: -53px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer__contacts {
  position: relative;
  background-color: #e7f0f9;
  width: 93%;
  z-index: 300;
  font-family: "HelveticaNeueCyr-Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #565656;
}

.footer__contacts-wrapper {
  width: 441px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 33px 15px 10px 0;
  box-sizing: border-box;
}

.footer__logo {
  margin-bottom: 23px;
}

.footer__phones {
  width: 215px;
}

.footer__phones p:nth-child(3) {
  margin-bottom: 10px;
}

.footer__phones p:nth-child(5) {
  line-height: 20px;
}

.footer__phones p {
  margin: 0;
}

.footer__phones a {
  color: #565656;
  text-decoration: none;
}

.footer__adress {
  width: 180px;
}

.footer__adress p {
  margin: 0;
  line-height: 25px;
}

.footer__adress p:first-child {
  margin-bottom: 20px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  background-color: #707070;
  width: 107%;
  margin-top: 53px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__socials {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.footer__nav-list {
  display: flex;
  width: 585px;
  padding: 18px 0 0 31px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.footer__nav-list div {
  width: 145px;
  margin-right: 51px;
}

.footer__nav-list div:last-child {
  margin-right: 0;
}

.footer__nav-list a {
  font-family: "HelveticaNeueCyr-Roman", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: white;
  font-weight: 300;
}

.footer__nav-list li {
  margin-bottom: 5px;
}

.footer__info {
  width: 585px;
  padding: 0 24px 0 31px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__info p {
  font-family: "HelveticaNeueCyr-Roman", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: white;
  font-weight: 300;
}

.footer__info a {
  display: block;
  line-height: 12px;
}

.footer__executor {
  width: 244px;
  height: 36px;
  padding: 11px 18px; 
  box-sizing: border-box;
  background-color: white;
}

/* .about-us__blockquote p:nth-of-type(2) {
  line-height: 32px;
} */

/* .about-us__blockquote p:nth-of-type(2) span {
  line-height: 42px;
} */
/* 
.page-header {
  color: #48494d;
}

.menu__cats,
.menu__main,
.menu__user,
.page-footer__sections ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-nav {
  margin: 0;
  list-style-type: none;
  padding: 0 0 0 20px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tabs__list {
  margin: 0;
  list-style-type: none;
  padding: 10px 0 25px;
}

.categories__list {
  padding: 0;
  list-style-type: none;
  margin: 0 -15px;
}

.wares__list {
  padding: 0;
  list-style-type: none;
  margin: 0 -15px;
}

.top-filters__offers ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.left-filter__form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.left-filters__wrapper .wares__list {
  padding: 0;
  list-style-type: none;
  margin: 0 0 43px 10px;
}

.catalog__pagination-list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
} */
